<div class="row row-banner">
    <div class="col-md-12">
        <h1>Изготовление флажков по доступной цене</h1>
        <p>Флажки как раздаточный материал пользуются особой популярностью и являются серьезным конкурентом стандартным листовкам. Это отличная альтернатива для промо акций, а также подобного рода мероприятий.</p>
        <p>Флажки с логотипом обязательно помогут привлечь внимание потенциальных клиентов к вашей продукции. Это эффективный способ рекламы, который действительно работает.</p>
        <p>Наша мастерская предлагает изготовление флажков по доступной цене в Екатеринбурге. Мы работаем оперативно и индивидуально подходим к каждому заказу, а также предоставляем приятные скидки постоянным клиентам.</p>
    </div>
    <div class="col-md-12">
        <p>
            <img class="image-banner" src="~/Content/commerce/10.jpg" />
        </p>
        <p>
            Мастерская «Дядя Женя» предлагает вам услугу изготовление бумажных флажков с логотипом на пластиковой палочке.
            Флажки идеально подходят для проведения промомероприятий, как раздаточный материал, ведь, человеку намного приятнее взять не просто листовку, а флажок.
        </p>
        <h4>
            Заказать изготовление бумажных флажков вы можете:
        </h4>
        <div>
            *по телефону +7(343)3281-567&nbsp;<br />
            *направив запрос на&nbsp;<a href="mailto:priemka@list.ru">priemka@list.ru</a>
            <br />
            <br />
        </div>
    </div>
    <div style="margin: 0 auto; width: 666px;">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>
                        <p>
                            <strong>Тираж</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>Метод печати</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>1+0</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>1+1</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>4+0</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>4+4</strong>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>
                            <strong>100&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ЦИФРА</p>
                    </td>
                    <td>
                        <p>1 650</p>
                    </td>
                    <td>
                        <p>1 900</p>
                    </td>
                    <td>
                        <p>1 850</p>
                    </td>
                    <td>
                        <p>2 300</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>300&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ЦИФРА</p>
                    </td>
                    <td>
                        <p>3 800</p>
                    </td>
                    <td>
                        <p>4 620</p>
                    </td>
                    <td>
                        <p>4 350</p>
                    </td>
                    <td>
                        <p>5 00</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>500&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ЦИФРА</p>
                    </td>
                    <td>
                        <p>5 050</p>
                    </td>
                    <td>
                        <p>6 200</p>
                    </td>
                    <td>
                        <p>6 100</p>
                    </td>
                    <td>
                        <p>8 100</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>1&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>6 700</p>
                    </td>
                    <td>
                        <p>8 000</p>
                    </td>
                    <td>
                        <p>9 700</p>
                    </td>
                    <td>
                        <p>11 800</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>2&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>11 500</p>
                    </td>
                    <td>
                        <p>12 900</p>
                    </td>
                    <td>
                        <p>14 600</p>
                    </td>
                    <td>
                        <p>16 800</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>3&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>15 000</p>
                    </td>
                    <td>
                        <p>10 500</p>
                    </td>
                    <td>
                        <p>18 300</p>
                    </td>
                    <td>
                        <p>20 550</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>5&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>22 500</p>
                    </td>
                    <td>
                        <p>24 200</p>
                    </td>
                    <td>
                        <p>25 800</p>
                    </td>
                    <td>
                        <p>28 300</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>10&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>42 500</p>
                    </td>
                    <td>
                        <p>43 600</p>
                    </td>
                    <td>
                        <p>45 100</p>
                    </td>
                    <td>
                        <p>48 200</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>20&nbsp;000&nbsp; </strong>
                        </p>
                    </td>
                    <td>
                        <p>ОФСЕТ</p>
                    </td>
                    <td>
                        <p>83 600</p>
                    </td>
                    <td>
                        <p>84 800</p>
                    </td>
                    <td>
                        <p>87 800</p>
                    </td>
                    <td>
                        <p>96 000</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <p>
            Флажок бумажный, стандартные размеры флажка 12/18 см., плотность бумаги 130 гр. <br />
            Палочка у флажка пластиковая, длина 38 см. <br />
            Для постоянных заказчиков предусмотрена система скидок.
        </p>
    </div>
</div>
