<table id="table-print" class="table table-bordered table-hover table-condensed" style="margin: 0 auto; width: 100%; vertical-align: top;">
    <thead>
        <tr>
            <th colspan="11" style="height: 24px; width: 626px; text-align: center">
                <strong>Печать на воздушных шарах</strong>
            </th>
        </tr>
        <tr class="bold">
            <td style="height: 24px; width: 83px">&nbsp;</td>
            <td colspan="4" style="width: 331px">&nbsp;ШАР 9&quot;(23 см.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td style="width: 103px">&nbsp;</td>
            <td colspan="4" style="width: 319px">&nbsp;ШАР 12&quot;(30 см.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td style="width: 135px">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 24px">&nbsp;</td>
            <td colspan="2">Пастель</td>
            <td colspan="2" style="width: 169px">Металлик</td>
            <td style="width: 103px">&nbsp;</td>
            <td colspan="2">Пастель</td>
            <td colspan="2" style="width: 153px">Металлик</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="table-print-head" class="bold">
            <td style="height: 27px">&nbsp;</td>
            <td style="width: 87px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
            <td style="width: 75px">1+0</td>
            <td style="width: 95px">1+1 (2+0)</td>
            <td style="width: 103px">&nbsp;</td>
            <td style="width: 91px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
            <td style="width: 79px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="height: 23px">25&nbsp; шт.</td>
            <td>1050</td>
            <td>1550</td>
            <td>1075,00</td>
            <td>1575,00</td>
            <td>25&nbsp; шт.</td>
            <td>1088</td>
            <td>1588,00</td>
            <td>1125,00</td>
            <td>1625,00</td>
            <td>25&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">50&nbsp; шт.</td>
            <td>1250</td>
            <td>1850</td>
            <td>1300</td>
            <td>1900</td>
            <td>50&nbsp; шт.</td>
            <td>1325</td>
            <td>2125</td>
            <td>1400</td>
            <td>2000</td>
            <td>50&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">100&nbsp; шт.</td>
            <td>1550</td>
            <td>2220</td>
            <td>1125</td>
            <td>2320</td>
            <td>100&nbsp; шт.</td>
            <td>1700</td>
            <td>2370</td>
            <td>1850</td>
            <td>2520</td>
            <td>100&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">200 шт.</td>
            <td>2440</td>
            <td>3400</td>
            <td>2640</td>
            <td>3600</td>
            <td>200 шт.</td>
            <td>2740</td>
            <td>3700</td>
            <td>3040</td>
            <td>4000</td>
            <td>200 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">300 шт.</td>
            <td>3060</td>
            <td>4200</td>
            <td>3360</td>
            <td>4500</td>
            <td>300 шт.</td>
            <td>3510</td>
            <td>4650</td>
            <td>3960</td>
            <td>5100</td>
            <td>300 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">400 шт.</td>
            <td>3480</td>
            <td>4580</td>
            <td>3880</td>
            <td>5100</td>
            <td>400 шт.</td>
            <td>4080</td>
            <td>5300</td>
            <td>4680</td>
            <td>5900</td>
            <td>400 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">500 шт.</td>
            <td>3700</td>
            <td>5150</td>
            <td>4200</td>
            <td>5650</td>
            <td>500 шт.</td>
            <td>4450</td>
            <td>5900</td>
            <td>5200</td>
            <td>6650</td>
            <td>500 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">1000 шт.</td>
            <td>5800</td>
            <td>8500</td>
            <td>6800</td>
            <td>9500</td>
            <td>1000 шт.</td>
            <td>7300</td>
            <td>10000</td>
            <td>8800</td>
            <td>11500</td>
            <td>1000 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">2000 шт.</td>
            <td>10600</td>
            <td>15700</td>
            <td>12600</td>
            <td>17700</td>
            <td>2000 шт.</td>
            <td>13600</td>
            <td>18700</td>
            <td>16600</td>
            <td>21700</td>
            <td>2000 шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">3000&nbsp; шт.</td>
            <td>15000</td>
            <td>22500</td>
            <td>18000</td>
            <td>25500</td>
            <td>3000&nbsp; шт.</td>
            <td>18900</td>
            <td>27000</td>
            <td>24000</td>
            <td>31500</td>
            <td>3000&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">4000&nbsp; шт.</td>
            <td>19200</td>
            <td>29700</td>
            <td>23200</td>
            <td>33700</td>
            <td>4000&nbsp; шт.</td>
            <td>25200</td>
            <td>35700</td>
            <td>31800</td>
            <td>41700</td>
            <td>4000&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">5000&nbsp; шт.</td>
            <td>23600</td>
            <td>34900</td>
            <td>28600</td>
            <td>39900</td>
            <td>5000&nbsp; шт.</td>
            <td>31100</td>
            <td>42400</td>
            <td>38600</td>
            <td>49900</td>
            <td>5000&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 24px">10000&nbsp; шт.</td>
            <td>45600</td>
            <td>52900</td>
            <td>55600</td>
            <td>62900</td>
            <td>10000&nbsp; шт.</td>
            <td>60600</td>
            <td>67900</td>
            <td>75600</td>
            <td>82900</td>
            <td>10000&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 23px">20000&nbsp; шт.</td>
            <td>88600</td>
            <td>104900</td>
            <td>108600</td>
            <td>124900</td>
            <td>20000&nbsp; шт.</td>
            <td>118600</td>
            <td>134900</td>
            <td>148600</td>
            <td>164900</td>
            <td>20000&nbsp; шт.</td>
        </tr>
        <tr>
            <td style="height: 24px">50000&nbsp; шт.</td>
            <td>215600</td>
            <td>260900</td>
            <td>265600</td>
            <td>310900</td>
            <td>50000&nbsp; шт.</td>
            <td>290600</td>
            <td>335900</td>
            <td>365600</td>
            <td>375900</td>
            <td>50000&nbsp; шт.</td>
        </tr>
    </tbody>
</table>


<style type="text/css">
    #table-print td {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    .hi {
        background-color: #f4ffa8 !important;
    }
</style>

<script>
    ready(function () {
        var hover = function (ev) {
            var cellIndex = $(this).index(),
                flag = (ev.type === 'mouseenter');

            $(this).toggleClass('hi', flag);
            $(this).parent().children("td").first().toggleClass('hi', flag);
            $tblHead.children("td").eq(cellIndex).toggleClass('hi', flag);
        }
        var $tbl = $("#table-print"),
            $tblHead = $("#table-print-head");

        $tbl.children("tbody")
            .find("td")
            .on({ "mouseenter": hover, "mouseleave": hover });
    });

    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
</script>