<table id="table-print" class="table table-bordered table-hover table-condensed" style="margin: 0 auto; width: 666px; vertical-align: top;">
    <thead>
        <tr>
            <th colspan="5" style="height: 24px; width: 626px; text-align: center">
                <strong>Печать на воздушных шарах</strong>
            </th>
        </tr>
        <tr>
            <th rowspan="2" style="vertical-align: top; text-align: center">
                <strong>Тираж</strong>
            </th>
            <th colspan="2" style="vertical-align: top; text-align: center">
                <strong>Цена за <span class="underline">оттиск</span> без стоимости шаров и предпечатной подготовки</strong>
            </th>
            <th colspan="2" style="vertical-align: top; text-align: center">
                <strong>Цена за <span class="underline">тираж</span> с учетом предпечатной подготовки и стоимости шаров (пастель Мексика)</strong>
            </th>
        </tr>
        <tr id="table-print-head">
            <th>
                <p>
                    <strong>1+0</strong>
                </p>
            </th>
            <th>
                <p>
                    <strong>1+1 (2+0)</strong>
                </p>
            </th>
            <th>
                <p>
                    <strong>1+0</strong>
                </p>
            </th>
            <th>
                <p>
                    <strong>1+1 (2+0)</strong>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <strong>50</strong>
                </p>
            </td>
            <td>
                <p>10</p>
            </td>
            <td>
                <p>16</p>
            </td>
            <td>
                <p>1325</p>
            </td>
            <td>
                <p>2125</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>100</strong>
                </p>
            </td>
            <td>
                <p>6,5</p>
            </td>
            <td>
                <p>10,2</p>
            </td>
            <td>
                <p>1700</p>
            </td>
            <td>
                <p>2370</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>200</strong>
                </p>
            </td>
            <td>
                <p>6,2</p>
            </td>
            <td>
                <p>9,5</p>
            </td>
            <td>
                <p>2740</p>
            </td>
            <td>
                <p>3700</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>300</strong>
                </p>
            </td>
            <td>
                <p>5,2</p>
            </td>
            <td>
                <p>8</p>
            </td>
            <td>
                <p>3510</p>
            </td>
            <td>
                <p>4650</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>400</strong>
                </p>
            </td>
            <td>
                <p>4,2</p>
            </td>
            <td>
                <p>6,5</p>
            </td>
            <td>
                <p>4080</p>
            </td>
            <td>
                <p>5300</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>500</strong>
                </p>
            </td>
            <td>
                <p>3,2</p>
            </td>
            <td>
                <p>5,5</p>
            </td>
            <td>
                <p>4450</p>
            </td>
            <td>
                <p>5900</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>1000</strong>
                </p>
            </td>
            <td>
                <p>2,2</p>
            </td>
            <td>
                <p>4,6</p>
            </td>
            <td>
                <p>7300</p>
            </td>
            <td>
                <p>10000</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>2000</strong>
                </p>
            </td>
            <td>
                <p>2</p>
            </td>
            <td>
                <p>4,4</p>
            </td>
            <td>
                <p>13600</p>
            </td>
            <td>
                <p>18700</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>3000</strong>
                </p>
            </td>
            <td>
                <p>1,8</p>
            </td>
            <td>
                <p>4,2</p>
            </td>
            <td>
                <p>18900</p>
            </td>
            <td>
                <p>27000</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>5000</strong>
                </p>
            </td>
            <td>
                <p>1,6</p>
            </td>
            <td>
                <p>3,8</p>
            </td>
            <td>
                <p>31100</p>
            </td>
            <td>
                <p>42400</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>10000</strong>
                </p>
            </td>
            <td>
                <p>1,5</p>
            </td>
            <td>
                <p>2,2</p>
            </td>
            <td>
                <p>60600</p>
            </td>
            <td>
                <p>67900</p>
            </td>
        </tr>
    </tbody>
</table>

<style type="text/css">
    .hi_td {
        background-color: #f4ffa8 !important;
    }

    .hi_th {
        background-color: #f4ffa8 !important;
    }
</style>

<script>
    ready(function () {
        var hover = function (ev) {
            var cellIndex = $(this).index(),
                flag = (ev.type === 'mouseenter');

            $(this).parent().children("td").first().toggleClass('hi_td', flag);

            $tblHead.children("th").eq(cellIndex == 0 ? 0 : cellIndex - 1).toggleClass('hi_th', flag);
        }
        var $tbl = $("#table-print"),
            $tblHead = $("#table-print-head");

        $tbl.children("tbody")
            .find("td")
            .on({ "mouseenter": hover, "mouseleave": hover });
    });

    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
</script>