<table id="table-print" class="table table-bordered table-hover table-condensed" style="margin: 0 auto; width: 100%; vertical-align: top;">
    <thead>
        <tr>
            <th colspan="11" style="height: 24px; width: 626px; text-align: center">
                <strong>Печать на воздушных шарах</strong>
            </th>
        </tr>
        <tr class="bold">
            <td style="height: 24px; width: 83px">&nbsp;</td>
            <td colspan="4" style="width: 331px">&nbsp;ШАР 9&quot;(23 см.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td style="width: 103px">&nbsp;</td>
            <td colspan="4" style="width: 319px">&nbsp;ШАР 12&quot;(30 см.)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 24px">&nbsp;</td>
            <td colspan="2">Пастель</td>
            <td colspan="2" style="width: 169px">Металлик</td>
            <td style="width: 103px">&nbsp;</td>
            <td colspan="2">Пастель</td>
            <td colspan="2" style="width: 153px">Металлик</td>
        </tr>
        <tr id="table-print-head" class="bold">
            <td style="height: 27px">&nbsp;</td>
            <td style="width: 87px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
            <td style="width: 75px">1+0</td>
            <td style="width: 95px">1+1 (2+0)</td>
            <td style="width: 103px">&nbsp;</td>
            <td style="width: 91px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
            <td style="width: 79px">1+0</td>
            <td style="width: 75px">1+1 (2+0)</td>
        </tr>
    </thead>
    <tbody><tr><td>25&nbsp; шт.</td><td>1050</td><td>1725</td><td>1075</td><td>1750,00</td><td>25&nbsp; шт.</td><td>1075</td><td>1750,00</td><td>1100,00</td><td>1775,00</td></tr><tr><td>50&nbsp; шт.</td><td>1200</td><td>1950</td><td>1250</td><td>2000</td><td>50&nbsp; шт.</td><td>1250</td><td>2000</td><td>1300</td><td>2050</td></tr><tr><td>100&nbsp; шт.</td><td>1550</td><td>2500</td><td>1650</td><td>2600</td><td>100&nbsp; шт.</td><td>1650</td><td>2600</td><td>1750</td><td>2700</td></tr><tr><td>200 шт.</td><td>2350</td><td>3800</td><td>2550</td><td>4000</td><td>200 шт.</td><td>2550</td><td>4000</td><td>2750</td><td>4200</td></tr><tr><td>300 шт.</td><td>2960</td><td>4720</td><td>3260</td><td>5020</td><td>300 шт.</td><td>3260</td><td>5020</td><td>3560</td><td>5320</td></tr><tr><td>400 шт.</td><td>3300</td><td>5100</td><td>3700</td><td>5500</td><td>400 шт.</td><td>3700</td><td>5500</td><td>4100</td><td>5900</td></tr><tr><td>500 шт.</td><td>3700</td><td>5600</td><td>4200</td><td>6100</td><td>500 шт.</td><td>4200</td><td>6100</td><td>4700</td><td>6600</td></tr><tr><td>1000 шт.</td><td>5500</td><td>7600</td><td>6500</td><td>8600</td><td>1000 шт.</td><td>6500</td><td>8600</td><td>7500</td><td>9600</td></tr><tr><td>2000 шт.</td><td>10300</td><td>14300</td><td>12300</td><td>16300</td><td>2000 шт.</td><td>12300</td><td>16300</td><td>15300</td><td>18300</td></tr><tr><td>3000&nbsp; шт.</td><td>14000</td><td>18700</td><td>17000</td><td>21700</td><td>3000&nbsp; шт.</td><td>17000</td><td>21700</td><td>20000</td><td>24700</td></tr><tr><td>4000&nbsp; шт.</td><td>18500</td><td>24300</td><td>22500</td><td>28300</td><td>4000&nbsp; шт.</td><td>22500</td><td>28300</td><td>26500</td><td>32300</td></tr><tr><td>5000&nbsp; шт.</td><td>22500</td><td>28200</td><td>27500</td><td>33200</td><td>5000&nbsp; шт.</td><td>27500</td><td>33200</td><td>32500</td><td>38200</td></tr><tr><td>10000&nbsp; шт.</td><td>44000</td><td>52700</td><td>54000</td><td>62700</td><td>10000&nbsp; шт.</td><td>54000</td><td>62700</td><td>64000</td><td>72700</td></tr><tr><td>20000&nbsp; шт.</td><td>84500</td><td>104700</td><td>104500,00</td><td>124700,00</td><td>20000&nbsp; шт.</td><td>104500,00</td><td>124700,00</td><td>124500,00</td><td>144700,00</td></tr><tr><td>50000&nbsp; шт.</td><td>210500,00</td><td>260700,00</td><td>260500,00</td><td>310700,00</td><td>50000&nbsp; шт.</td><td>260500,00</td><td>310700,00</td><td>310500,00</td><td>360700,00</td></tr></tbody>
</table>

<style type="text/css">
    #table-print td {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    .hi {
        background-color: #f4ffa8 !important;
    }
</style>

<script>
    ready(function () {
        var hover = function (ev) {
            var cellIndex = $(this).index(),
                flag = (ev.type === 'mouseenter');

            $(this).toggleClass('hi', flag);
            $(this).parent().children("td").first().toggleClass('hi', flag);
            $tblHead.children("td").eq(cellIndex).toggleClass('hi', flag);
        }
        var $tbl = $("#table-print"),
            $tblHead = $("#table-print-head");

        $tbl.children("tbody")
            .find("td")
            .on({ "mouseenter": hover, "mouseleave": hover });
    });

    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
</script>