@model SharikiApp.Models.ResultModel
@if (Model != null)
{
    <h2 class="text-center">Спасибо за Ваш заказ!</h2>
    <h3>Номер заказа <span class="text-success">№@Model.Message.BasketId</span></h3>
    <h4>Ожидайте пожалуйста звонка от нашего оператора.</h4>
    <h4>Если вам не перезвонят в течение 15 минут свяжитесь с нами по номеру <strong>+7(922)11-22-866</strong></h4>
}

