@using SharikiApp.Models
@model SharikiApp.Models.BalloonsModel
@if (Model != null)
{
    <div role="tabpanel">
        @Html.Partial("Navs/BalloonsNav", TypeBallons.SearchResults)
        <div role="tabpanel" class="tab-pane active" id="shariki">            
            <div class="col-md-12">
                <table class="goods-menu-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="goods-menu">
                                    @if (Model.Balloons.Length == 0)
                                    {
                                        <div class="header-type">
                                            <span>Товара нет в наличии.</span>
                                        </div>
                                    }
                                    @foreach (var balloon in Model.Balloons)
                                    {
                                        @Html.Partial("_GoodsItem", balloon)
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    Html.RenderPartial("BalloonsInfo", Model.SelectedBalloonTypeM);
}
