@using SharikiApp.Models
@model BalloonTypeM
@{
    Layout = null;
}
<div class="row row-banner">
    @switch (Model)
    {
        case BalloonTypeM.Latex:
            <div class="col-md-12">
                <h1>Латексные воздушные шары — отличное качество по доступной цене</h1>
                <p>Латексные воздушные шары отличаются стильным видом и высоким качеством, они помогут создать праздничную атмосферу, поднять настроение, вызвать искренний восторг у людей любого возраста. Такие яркие шары могут стать подарком на любое торжество, с их помощью можно украсить праздничный зал или фасад здания.</p>
                <p>В каталоге нашей мастерской представлен широкий выбор латексных шаров:</p>
                <ul>
                    <li>праздничные комплекты;</li>
                    <li>букеты;</li>
                    <li>облака;</li>
                    <li>шары с рисунком, надписями.</li>
                </ul>
                <p>Мы предлагаем не только обычные круглые шарики, но также шары в форме животных, мультипликационных героев или цветов. Наши мастера готовы сделать на заказ латексные шары с поздравительными или рекламными надписями, рисунками или логотипами.</p>
                <p>У нас можно купить шары оптом по очень привлекательной цене, заказать их доставку по любому адресу Екатеринбурга.</p>
            </div>
            break;
        case BalloonTypeM.Folgirov:
            <div class="col-md-12">
                <h1>Фольгированные воздушные шары по привлекательной цене</h1>
                <p>Фольгированные шары особо популярны не только на крупных мероприятиях, но на детских праздниках. Такие шары идеально подходят для украшения помещений, в которых поводятся дни рождения, поскольку они помогают в создании необходимой атмосферы радости и веселья, а время полета таких изделий порадуют вдвойне!</p>
                <p>Наша команда мастеров подготовила множество креативных идей. В каталоге представлены примеры готовых работ, среди которых вы сможете найти и купить оптимальный вариант для девочек и мальчиков разного возраста.</p>
                <p>У нас всегда самые доступные цены в Екатеринбурге и оперативное, а также качественное исполнение заказа.</p>
            </div>
            break;
        case BalloonTypeM.Buket:
            <div class="col-md-12">
                <h1>Букеты из шаров — лучший подарок и ребенку, и взрослому</h1>
                <p>Стандартные цветочные букеты уже не вызывают тех чувств, что ранее, и чаще всего воспринимаются, как правило хорошего тона. Сегодня наша мастерская предлагает вам выделиться и подарить своим родственникам и близким креативные, оригинальные и необычные букеты из шаров. Это отличная альтернатива как для детских, так и для взрослых праздников.</p>
                <p>У нас вы сможете купить качественные композиции по доступным ценам в Екатеринбурге. Мы предлагаем своим клиентам большой ассортимент для разных событий. Наши шары обязательно подарят вам незабываемые ощущения радости и веселья, а также помогут создать настоящую атмосферу торжества.</p>
            </div>
            break;
        case BalloonTypeM.Svet:
            <div class="col-md-12">
                <h1>Светящиеся шары — оригинальное дополнение к подарку</h1>
                <p>Светящиеся шары — это отличное дополнение к подарку. Наша мастерская предлагает сегодня купить качественные воздушные шары, которые не только впечатляют своей необычной формой, но и вдобавок ко всему светятся. Такой вариант идеально подходит для признаний в любви и свадеб. Светящееся сердце, которое можно запустить в небо, — это всегда романтично.</p>
                <p>В нашем каталоге вы сможете найти отличный вариант для своего случая. Мы предлагаем большой ассортимент шаров и самые доступные цены в Екатеринбурге. Наша мастерская обязательно порадует вас оригинальной идеей и оперативным, а также качественным ее воплощением.</p>
            </div>
            break;
        case BalloonTypeM.Figurki:
            <div class="col-md-12">
                <h1>Широкий выбор цветов и фигур из шаров по привлекательной цене</h1>
                <p>На странице нашей компании можно заказать цветы и фигурки из шаров по очень доступной цене. Романтические букеты из гелиевых шариков можно подарить любимой, а фигура сказочного героя станет оригинальным подарком на любой детский праздник. Плетеное сердце или яркую восьмерку можно преподнести на главный весенний праздник женщинам, которые занимают особое место в вашей жизни.</p>
                <p>В нашем каталоге можно выбрать шарики любой расцветки и размера, также мы готовы изготовить букеты, фигуры и т. д.исключительно для вас, предложить отличные идеи и прислушаться к пожеланиям каждого клиента.Мы не только поможем выбрать шары на любой вкус, но и доставим их по вашему адресу в Екатеринбурге в удобное время. Для оформления заказа достаточно добавить выбранный товар в корзину и заполнить соответствующую форму.Также заказать цветы и фигуры из шаров можно по телефону нашего магазина.</p>
            </div>
            break;
        case BalloonTypeM.GoodPrazdnik:
            <div class="col-md-12">
                <h1>Товары для детского праздника помогут сделать вечеринку незабываемой</h1>
                <p>Не стоит превращать детский день рождения в пышное застолье для родителей, а также их взрослых друзей. Устройте малышу яркую и оригинальную вечеринку для именинника и его приятелей, подарите ему праздник, о котором ребенок будет вспоминать долгое время!</p>
                <p>Мы поможем организовать торжество и предложим купить лучшие товары для детского праздника по очень интересной цене оптом и в розницу. Для оформления мы используем разноцветные шары с рисунками и веселыми надписями, объемные фигуры животных, яркие надписи и гирлянды с поздравлениями. Вместе с заказчиком наши специалисты выберут оптимальную продукцию для украшения зала и комнаты.Наши шары и композиции можно использовать не только в виде украшений для дня рождения, но и в качестве оригинального подарка.</p>
                <p>В каталоге представлен широкий выбор шаров и другой подарочной продукции, которую мы готовы доставить по любому адресу в Екатеринбурге.</p>
            </div>
            break;
        case BalloonTypeM.DecoreBirthDay:
            <div class="col-md-12">
                <h1>Оформление воздушными шарами на день рождения по доступной цене</h1>
                <p>День рождения — самый главный праздник для каждого ребенка. Малыши готовятся к нему долгие месяцы и с нетерпением ждут особенных подарков, приглашают на торжество своих друзей и вместе с родителями планируют увлекательные развлечения. В этот день все должно быть волшебным: подарки, атмосфера, праздничный зал и комната малыша.</p>
                <p>Оформление воздушными шарами на день рождения в Екатеринбурге можно заказать у нас! Мы предложим оригинальные композиции, оформим помещение шарами, которые соответствуют тематике праздника, выберем украшения с любимыми сказочными героями. Шары с гелием на день рождения используются не только для украшения комнаты — их можно подарить гостям, разыграть во время веселых конкурсов. У нас можно купить гелиевые шарики, которые украшены яркими принтами и веселыми надписями, цифры и милары, настоящие композиции из цветов и облака воздушных шариков. Наши цены остаются самыми доступными, а качество шариков не вызывает никаких сомнений.</p>
                <p>Оформление детского дня рождения — настоящее искусство, а лучшей наградой за работу наших мастеров станет лучезарная улыбка маленького именинника!</p>
            </div>
            break;
        case BalloonTypeM.ElementsOfDecor:
            <div class="col-md-12">
                <h1>Шары для любого праздника на нашем сайте по лучшей цене</h1>
                <p>Гирлянды, арки, букеты и прочие композиции из воздушных шаров можно использовать для любого праздника. Мы готовы изготовить для вас декорации, которые помогут создать неповторимую праздничную обстановку, полностью преобразят кафе или квартиру. Также мы поможем оформить шарами сцену для проведения презентаций, концертов и праздничных церемоний, украсить новый супермаркет или салон красоты.</p>
                <p>Наши специалисты обладают тонким вкусом и отличаются креативным подходом к оформлению праздников. Они предложат вам оригинальные варианты, смогут изготовить арки и прочие украшения для любого торжества.Мы готовы изготовить огромные буквы любых цветов из шаров и предложить оригинальное уличное оформление любых зданий.</p>
                <p>Цена шаров и прочей продукции полностью соответствует ее высокому качеству и остается самой доступной в Екатеринбурге. Спешите заказать шары для праздников на нашем сайте или по телефону компании!</p>
            </div>
            break;
        case BalloonTypeM.Svadba:
            <div class="col-md-12">
                <h1>Оформление воздушными шарами свадьбы по умеренной стоимости</h1>
                <p>Оформление воздушными шарами свадьбы добавит торжеству торжественности. Всевозможные воздушные шары, оформленные в оригинальные и интересные композиции, позволят вам привнести в помещение нужную атмосферу праздника и романтики. </p>
                <p>В нашей мастерской вы сможете ознакомиться с самыми разнообразными вариантами оформления зала на свадьбу в зависимости от размеров помещения, тематической направленности праздника, а также личных предпочтений виновников торжества. Мы создадим для вас поистине уникальные композиции: фигурки, сердца, цифры и др.Они могут запускаться в небо либо располагаться в качестве украшения помещения — все зависит от вашей фантазии и бюджета.Цена подобной услуги в Екатеринбурге, если вы обратитесь в нашу компанию, будет весьма умеренной. Хотите заказать композиции из воздушных шаров? Доверяйте настоящим специалистам в области декора!</p>
            </div>
            break;
        case BalloonTypeM.RodDom:
            <div class="col-md-12">
                <h1>Оформление шарами выписки из роддома — создать настоящее торжество так легко</h1>
                <p>Чтобы выписка из роддома стала невероятно оригинальным и запоминающимся событием, вы можете соответствующим образом оформить его. Наша компания готова взять на себя оформление шарами выписки из роддома.</p>
                <p>В нашем ассортименте вы найдете самые разнообразные воздушные шары на выписку, всевозможные композиции из шаров, при помощи которых сможете выразить переполняющие вас счастье и благодарность.Вы можете выбрать всевозможные надувные фигурки, букеты и др., которые обязательно понравятся счастливой мамочке. Также имеются надувные шары с именем ребенка, благодаря которым весь мир узнает о том, что у вас родилась славная дочурка или настоящий богатырь.</p>
                <p>Чтобы заказать композицию, вам достаточно обратиться за помощью в нашу компанию в Екатеринбурге. Наши специалисты помогут вам создать уникальную композицию.Цена подобной услуги является достаточно умеренной.</p>
            </div>
            break;
        case BalloonTypeM.DetskiPrazdnik:
            <div class="col-md-12">
                <h1>Оформление детского праздника воздушными шарами быстро и оригинально</h1>
                <p>Современного ребенка сложно удивить обычным чаепитием или походом в детское кафе на праздник. Мы предлагаем подарить ребенку незабываемое торжество и заказать оформление детского праздника воздушными шарами. Украшением кафе или квартиры в Екатеринбурге займутся настоящие профессионалы, которые быстро превратят обычное помещение в сказочный дворец или фантастическую поляну. У нас можно выбрать оригинальные фигуры из шаров на детский праздник по доступной цене. Мы предлагаем широкий ассортимент шариков с рисунками героев мультфильмов, смайликами и другими изображениями.</p>
                <p>Мы подскажем лучшие варианты оформления и с радостью прислушаемся ко всем пожеланиям заказчиков, сделаем все от нас зависящее, чтобы ваш ребенок целый год вспоминал о таком необычном празднике. Уверены, что праздник понравится также всем маленьким гостям, их мамам и папам.</p>
                <p>Звоните и уточняйте детали у менеджеров компании в удобное время.</p>
            </div>
            break;
        case BalloonTypeM.Mujchinam:
            <div class="col-md-12">
                <h1>Оформление шарами мужчинам по выгодной цене</h1>
                <p>На странице нашей компании можно выбрать необычные и очень эффектные шары не только для детей, но и для взрослых, в том числе и для мужчин. Мы предлагаем украшение шарами мужчинам на любой праздник. У нас можно выбрать различные варианты, заказать оформление шарами входной двери или изготовление арок, объемных фигур. Мы оперативно украсим шарами любое помещение в Екатеринбурге.</p>
                <p>Особой популярностью пользуются фольгированные шары с изображением танков, байков, миньонов и цифр. В отличие от гелиевых шариков, такая продукция может радовать именинника не одну неделю.</p>" +
                <p>Мы реализуем не только шарики, но также другую подарочную продукцию для мужчин, например, открытки, оригинальные поздравительные надписи и прочие атрибуты настоящего праздника. Цена украшений и необычных сувениров на нашей странице остается самой демократичной в городе.</p>;
            </div>
            break;
        case BalloonTypeM.Lubimim:
            <div class="col-md-12">
                <h1>Шары любимым — выбор настоящих романтиков</h1>
                <p>Ничто не расскажет о ваших романтических чувствах лучше, чем нежные шары в форме сердца, которые можно заказать на нашей странице. С их помощью легко создать неповторимую атмосферу и преподнести любимым людям подарок или сделать самое важное признание в жизни.</p>
                <p>В нашем ассортименте есть шары на любой вкус. Мы предлагаем шарики с романтическими надписями, яркие модели из фольги, то есть милары с изображением забавных героев.Можно купить для любимой девушки даже настоящее облако из сердец или веселых смайлов, украсить квартиру объемными декорациями из шариков. Узнать цену шариков в Екатеринбурге можно на сайте или уточнить ее в телефонном разговоре с представителями компании.</p>
                <p>Мы готовы не только продать качественные и оригинальные шары, но оформить с их помощью любое помещение, создать объемные композиции и фигуры.Заказывайте шары на нашем сайте уже сейчас!</p>
            </div>
            break;
        case BalloonTypeM.VipuskSchool:
            <div class="col-md-12">
                <h1>Оформление шарами выпускного в школе поможет создать праздничную атмосферу</h1>
                <p>Позади годы учебы, уроки, контрольные и экзамены, бывших учеников ждет их первый в жизни выпускной вечер, прощание с детством, важный шаг во взрослую жизнь. Выпускницы делают модные прически и шьют великолепные наряды, а юноши впервые решают пригласить одноклассниц на танец. Во время выпускных вечеров зал также должен выглядеть безукоризненно. Украшение зала шарами позволит преобразить даже самое заурядное помещение.</p>
                <p>Оформление шарами выпускного в школе можно заказать на нашем сайте. Мы предлагаем широкий выбор цветовых и стилистических решений, различные варианты оформления любых помещений на последний звонок или выпускной, самые привлекательные цены на воздушные шары в Екатеринбурге. Чтобы купить шарики, достаточно сделать заказ в удобное для вас время.</p>
            </div>
            break;
        case BalloonTypeM.NineMaya:
            <div class="col-md-12">
                <h1>Широкий выбор воздушных шаров на 9 мая</h1>
                <p>9 мая — праздник, который напоминает нам о великой победе, подвиге целого поколения наших соотечественников. Этот светлый весенний праздник отмечают в школах и детских садах, на предприятиях и в государственных учреждениях Екатеринбурга. Его неизменным атрибутом долгие годы остаются разноцветные воздушные шары.</p>
                <p>Воздушные шары на 9 мая используются на парадах, также с их помощью украшают кабинеты и актовые залы, фасады зданий.</p>
                <p>На нашем сайте можно купить шары разных цветов и форм, создать оригинальные композиции из шаров, заказать букеты или арки. Украшение шарами на 9 мая лучше доверить опытным специалистам. Так вы сможете сэкономить собственное время и получить желаемый результат.</p>
                <p>Уточнить цену оформления шарами любого здания можно у наших менеджеров посредством телефонной связи. Они помогут оформить заказ и ответят на любые вопросы клиентов.</p>
            </div>
            break;
        case BalloonTypeM.OneMaya:
            <div class="col-md-12">
                <h1>Доставка воздушных шаров на 1 мая на выгодных условиях</h1>
                <p>Воздушные шары у нас всегда ассоциируются с отличным настроением, беззаботным детством, легкостью, счастьем и праздником. Без них невозможно представить самый жизнерадостный весенний праздник — 1 мая. Люди с радостью выходят на улицы, гуляют с детьми и друзьями, принимают участие в парадах и обязательно покупают воздушные шары разных цветов.</p>
                <p>У нас можно купить воздушные шары на 1 мая, которые украшены рисунками и оригинальными надписями. Цена шариков на нашем сайте остается самой выгодной не только в Екатеринбурге, но и в регионе.</p>
                <p>Чтобы не суетиться и не надувать в спешке шарики перед первомайскими торжественными мероприятиями, лучше заказать доставку воздушных шаров на 1 мая заблаговременно. Шары мы доставим по любому адресу Екатеринбурга за минимальное время.</p>
            </div>
            break;
        default:
            <div class="col-md-12">
                <h1>Воздушные шары на любой вкус для наших клиентов</h1>
                <p>Воздушные шары любят не только дети, но и взрослые, их дарят на день рождения и выписку из роддома, крещение и выпускной. Шарики с гелием используют для оформления праздничных мероприятий, фасадов зданий и залов.</p>
                <p>В нашем каталоге представлены шарики на любой вкус. Мы предлагаем купить по демократичной цене:</p>
                <ul>
                    <li>детские шарики разных цветов;</li>
                    <li>милары в форме сказочных героев, машин, зверей или цветов;</li>
                    <li>поздравительные надписи из шаров;</li>
                    <li>светящиеся фигуры и композиции из шаров, наполненных гелием;</li>
                    <li>букеты из шаров;</li>
                    <li>латексные шарики;</li>
                    <li>специальные наборы на день рождения или другие праздники.</li>
                </ul>
                <p>Вам нужны особенные шарики? Предлагаем шары на заказ, которые мы изготовим с учетом любых пожеланий клиентов, украсим логотипом вашей компании или оригинальной надписью.</p>
                <p>У нас можно не только приобрести лучшие шарики, но также заказать их доставку по Екатеринбургу. Наши специалисты готовы оформить шарами любое помещение, изготовить тематические композиции и декорации. Мы поможем с помощью воздушных шаров превратить любое мероприятие в удивительный и сказочный праздник, украсить презентацию новой компании или промоакцию.</p>
                <p>Заказать гелиевые шары с доставкой можно по телефону.</p>
            </div>
            break;
    }
</div>
<div class="row row-banner">
    <div class="col-md-12">
        Заявку по доставке шаров вы можете сделать по телефону <strong>+7(343) 3281-567</strong>. <br />
        И в любое время проконтролировать состояние доставки по телефону <strong>+7(922)11-22-866</strong>. <br />
        Также вы можете оставить свою заявку по электронной почте <a href="mailto:priemka@list.ru">priemka@list.ru</a> <br />
        <strong>Доставка шаров осуществляется круглосуточно.</strong>
    </div>
</div>
