@using SharikiApp.Models
@model BalloonTypeM
@{
    Layout = null;
}
<div class="row row-banner">
    @switch (Model)
    {
        case BalloonTypeM.Latex:
            <div class="col-md-12">
                <h1>Лучший выбор воздушных шаров в Екатеринбурге</h1>
                <p>Наша мастерская предлагает в Екатеринбурге болоьшой выбор латексных воздушных шаров, которые станут оптимальным решением для детских и взрослых праздников и помогут в создании необходимой обстановки. Это достойная альтернатива привычным украшениям.</p>
                <p>Латексные шарики, которые представлены в нашем каталоге, могут быть разных форм, цветов, а также размеров. Мы предлагаем оригинальные идеи, нестандартные надписи, а также целые букеты из шаров.</p>
                <p>Все зависит от предпочтений клиента, а также особенностей самого торжества. У нас вы сможете всегда купить только качественные изделия по доступной цене.</p>
            </div>
            break;
        case BalloonTypeM.Folgirov:
            <div class="col-md-12">
                <h1>Фольгированные воздушные шары по привлекательной цене</h1>
                <p>Фольгированные шары особо популярны не только на крупных мероприятиях, но на детских праздниках. Такие шары идеально подходят для украшения помещений, в которых поводятся дни рождения, поскольку они помогают в создании необходимой атмосферы радости и веселья, а время полета таких изделий порадуют вдвойне!</p>
                <p>Наша команда мастеров подготовила множество креативных идей. В каталоге представлены примеры готовых работ, среди которых вы сможете найти и купить оптимальный вариант для девочек и мальчиков разного возраста.</p>
                <p>У нас всегда самые доступные цены в Екатеринбурге и оперативное, а также качественное исполнение заказа.</p>
            </div>
            break;
        case BalloonTypeM.Buket:
            <div class="col-md-12">
                <h1>Букеты из шаров — лучший подарок и ребенку, и взрослому</h1>
                <p>Стандартные цветочные букеты уже не вызывают тех чувств, что ранее, и чаще всего воспринимаются, как правило хорошего тона. Сегодня наша мастерская предлагает вам выделиться и подарить своим родственникам и близким креативные, оригинальные и необычные букеты из шаров. Это отличная альтернатива как для детских, так и для взрослых праздников.</p>
                <p>У нас вы сможете купить качественные композиции по доступным ценам в Екатеринбурге. Мы предлагаем своим клиентам большой ассортимент для разных событий. Наши шары обязательно подарят вам незабываемые ощущения радости и веселья, а также помогут создать настоящую атмосферу торжества.</p>
            </div>
            break;
        case BalloonTypeM.Svet:
            <div class="col-md-12">
                <h1>Светящиеся шары — оригинальное дополнение к подарку</h1>
                <p>Светящиеся шары — это отличное дополнение к подарку. Наша мастерская предлагает сегодня купить качественные воздушные шары, которые не только впечатляют своей необычной формой, но и вдобавок ко всему светятся. Такой вариант идеально подходит для признаний в любви и свадеб. Светящееся сердце, которое можно запустить в небо, — это всегда романтично.</p>
                <p>В нашем каталоге вы сможете найти отличный вариант для своего случая. Мы предлагаем большой ассортимент шаров и самые доступные цены в Екатеринбурге. Наша мастерская обязательно порадует вас оригинальной идеей и оперативным, а также качественным ее воплощением.</p>
            </div>
            break;
        case BalloonTypeM.Figurki:
            <div class="col-md-12">
                <h1>Широкий выбор цветов и фигур из шаров по привлекательной цене</h1>
                <p>На странице нашей компании можно заказать цветы и фигурки из шаров по очень доступной цене. Романтические букеты из гелиевых шариков можно подарить любимой, а фигура сказочного героя станет оригинальным подарком на любой детский праздник. Плетеное сердце или яркую восьмерку можно преподнести на главный весенний праздник женщинам, которые занимают особое место в вашей жизни.</p>
                <p>В нашем каталоге можно выбрать шарики любой расцветки и размера, также мы готовы изготовить букеты, фигуры и т. д.исключительно для вас, предложить отличные идеи и прислушаться к пожеланиям каждого клиента.Мы не только поможем выбрать шары на любой вкус, но и доставим их по вашему адресу в Екатеринбурге в удобное время. Для оформления заказа достаточно добавить выбранный товар в корзину и заполнить соответствующую форму.Также заказать цветы и фигуры из шаров можно по телефону нашего магазина.</p>
            </div>
            break;
        case BalloonTypeM.GoodPrazdnik:
            <div class="col-md-12">
                <h1>Товары для детского праздника помогут сделать вечеринку незабываемой</h1>
                <p>Не стоит превращать детский день рождения в пышное застолье для родителей, а также их взрослых друзей. Устройте малышу яркую и оригинальную вечеринку для именинника и его приятелей, подарите ему праздник, о котором ребенок будет вспоминать долгое время!</p>
                <p>Мы поможем организовать торжество и предложим купить лучшие товары для детского праздника по очень интересной цене оптом и в розницу. Для оформления мы используем разноцветные шары с рисунками и веселыми надписями, объемные фигуры животных, яркие надписи и гирлянды с поздравлениями. Вместе с заказчиком наши специалисты выберут оптимальную продукцию для украшения зала и комнаты.Наши шары и композиции можно использовать не только в виде украшений для дня рождения, но и в качестве оригинального подарка.</p>
                <p>В каталоге представлен широкий выбор шаров и другой подарочной продукции, которую мы готовы доставить по любому адресу в Екатеринбурге.</p>
            </div>
            break;
        case BalloonTypeM.DecoreBirthDay:
            <div class="col-md-12">
                <h1>Оформление зала яркими шарами — лучший выбор для детского праздника</h1>
                <p>Планируя день рождения ребенка, важно не только составить лучшее детское меню, купить подарок, который порадует именинника, но и позаботиться об оригинальном украшении праздничного зала. Можно проявить собственную фантазию, потратить время на покупку разнообразных декораций, их сборку, но намного проще и быстрее заказать оформление зала воздушными шарами на день рождения на нашем сайте. С помощью шариков можно украсить детскую комнату именинника и подарить ребенку праздничное настроение в этот особенный для него и вас день.</p>
                <p>Для веселого детского дня рождения можно купить милары в форме любимых героев мультфильмов, объемные цифры и красочные поздравительные надписи, гирлянды, облака и букеты из воздушных шаров.Их цена на странице компании порадует всех покупателей в Екатеринбурге. Менеджеры магазина помогут выбрать шары и быстро оформить заказ на их покупку.</p>
            </div>
            break;
        case BalloonTypeM.ElementsOfDecor:
            <div class="col-md-12">
                <h1>Шары для любого праздника на нашем сайте по лучшей цене</h1>
                <p>Гирлянды, арки, букеты и прочие композиции из воздушных шаров можно использовать для любого праздника. Мы готовы изготовить для вас декорации, которые помогут создать неповторимую праздничную обстановку, полностью преобразят кафе или квартиру. Также мы поможем оформить шарами сцену для проведения презентаций, концертов и праздничных церемоний, украсить новый супермаркет или салон красоты.</p>
                <p>Наши специалисты обладают тонким вкусом и отличаются креативным подходом к оформлению праздников. Они предложат вам оригинальные варианты, смогут изготовить арки и прочие украшения для любого торжества.Мы готовы изготовить огромные буквы любых цветов из шаров и предложить оригинальное уличное оформление любых зданий.</p>
                <p>Цена шаров и прочей продукции полностью соответствует ее высокому качеству и остается самой доступной в Екатеринбурге. Спешите заказать шары для праздников на нашем сайте или по телефону компании!</p>
            </div>
            break;
        case BalloonTypeM.Svadba:
            <div class="col-md-12">
                <h1>Оформление воздушными шарами свадьбы по умеренной стоимости</h1>
                <p>Оформление воздушными шарами свадьбы добавит торжеству торжественности. Всевозможные воздушные шары, оформленные в оригинальные и интересные композиции, позволят вам привнести в помещение нужную атмосферу праздника и романтики. </p>
                <p>В нашей мастерской вы сможете ознакомиться с самыми разнообразными вариантами оформления зала на свадьбу в зависимости от размеров помещения, тематической направленности праздника, а также личных предпочтений виновников торжества. Мы создадим для вас поистине уникальные композиции: фигурки, сердца, цифры и др.Они могут запускаться в небо либо располагаться в качестве украшения помещения — все зависит от вашей фантазии и бюджета.Цена подобной услуги в Екатеринбурге, если вы обратитесь в нашу компанию, будет весьма умеренной. Хотите заказать композиции из воздушных шаров? Доверяйте настоящим специалистам в области декора!</p>
            </div>
            break;
        case BalloonTypeM.RodDom:
            <div class="col-md-12">
                <h1>Оформление шарами выписки из роддома — создать настоящее торжество так легко</h1>
                <p>Чтобы выписка из роддома стала невероятно оригинальным и запоминающимся событием, вы можете соответствующим образом оформить его. Наша компания готова взять на себя оформление шарами выписки из роддома.</p>
                <p>В нашем ассортименте вы найдете самые разнообразные воздушные шары на выписку, всевозможные композиции из шаров, при помощи которых сможете выразить переполняющие вас счастье и благодарность.Вы можете выбрать всевозможные надувные фигурки, букеты и др., которые обязательно понравятся счастливой мамочке. Также имеются надувные шары с именем ребенка, благодаря которым весь мир узнает о том, что у вас родилась славная дочурка или настоящий богатырь.</p>
                <p>Чтобы заказать композицию, вам достаточно обратиться за помощью в нашу компанию в Екатеринбурге. Наши специалисты помогут вам создать уникальную композицию.Цена подобной услуги является достаточно умеренной.</p>
            </div>
            break;
        case BalloonTypeM.DetskiPrazdnik:
            <div class="col-md-12">
                <h1>Оформление детского праздника воздушными шарами быстро и оригинально</h1>
                <p>Современного ребенка сложно удивить обычным чаепитием или походом в детское кафе на праздник. Мы предлагаем подарить ребенку незабываемое торжество и заказать оформление детского праздника воздушными шарами. Украшением кафе или квартиры в Екатеринбурге займутся настоящие профессионалы, которые быстро превратят обычное помещение в сказочный дворец или фантастическую поляну. У нас можно выбрать оригинальные фигуры из шаров на детский праздник по доступной цене. Мы предлагаем широкий ассортимент шариков с рисунками героев мультфильмов, смайликами и другими изображениями.</p>
                <p>Мы подскажем лучшие варианты оформления и с радостью прислушаемся ко всем пожеланиям заказчиков, сделаем все от нас зависящее, чтобы ваш ребенок целый год вспоминал о таком необычном празднике. Уверены, что праздник понравится также всем маленьким гостям, их мамам и папам.</p>
                <p>Звоните и уточняйте детали у менеджеров компании в удобное время.</p>
            </div>
            break;
        case BalloonTypeM.Mujchinam:
            <div class="col-md-12">
                <h1>Оформление шарами мужчинам по выгодной цене</h1>
                <p>На странице нашей компании можно выбрать необычные и очень эффектные шары не только для детей, но и для взрослых, в том числе и для мужчин. Мы предлагаем украшение шарами мужчинам на любой праздник. У нас можно выбрать различные варианты, заказать оформление шарами входной двери или изготовление арок, объемных фигур. Мы оперативно украсим шарами любое помещение в Екатеринбурге.</p>
                <p>Особой популярностью пользуются фольгированные шары с изображением танков, байков, миньонов и цифр. В отличие от гелиевых шариков, такая продукция может радовать именинника не одну неделю.</p>" +
                <p>Мы реализуем не только шарики, но также другую подарочную продукцию для мужчин, например, открытки, оригинальные поздравительные надписи и прочие атрибуты настоящего праздника. Цена украшений и необычных сувениров на нашей странице остается самой демократичной в городе.</p>;
            </div>
            break;
        case BalloonTypeM.Lubimim:
            <div class="col-md-12">
                <h1>Шары любимым — выбор настоящих романтиков</h1>
                <p>Ничто не расскажет о ваших романтических чувствах лучше, чем нежные шары в форме сердца, которые можно заказать на нашей странице. С их помощью легко создать неповторимую атмосферу и преподнести любимым людям подарок или сделать самое важное признание в жизни.</p>
                <p>В нашем ассортименте есть шары на любой вкус. Мы предлагаем шарики с романтическими надписями, яркие модели из фольги, то есть милары с изображением забавных героев.Можно купить для любимой девушки даже настоящее облако из сердец или веселых смайлов, украсить квартиру объемными декорациями из шариков. Узнать цену шариков в Екатеринбурге можно на сайте или уточнить ее в телефонном разговоре с представителями компании.</p>
                <p>Мы готовы не только продать качественные и оригинальные шары, но оформить с их помощью любое помещение, создать объемные композиции и фигуры.Заказывайте шары на нашем сайте уже сейчас!</p>
            </div>
            break;
        default:
            <div class="col-md-12">
                <h1>Воздушные шары любых размеров и цветов в Екатеринбурге</h1>
                <p>Воздушные шары — это отличное украшение для любого праздника. Они способы создать особую атмосферу в помещении, придать событию торжественности и знаменательности. Кроме того, композиции из шаров — это достойная альтернатива стандартным подаркам.</p>
                <p>Наша мастерская предлагает сегодня в Екатеринбурге шарики разных размеров и цветов на заказ. Кроме того, в нашем каталоге представлены оригинальные гелевые шары с надписями, милыми изображениями, в форме букетов, персонажей из мультфильмов и разных фигур на выбор. Вы сможете найти и заказать достойный вариант как для детского, так и для взрослого праздника.</p>
                <p>Доставка шариков, а также их монтаж осуществляется в любое удобное для клиента время. Мы работаем оперативно, ответственно подходим к каждому заказу, учитываем пожелания и требования клиента, а также предлагаем воздушные шары купить по приемлемой цене. Наша команда поможет вам оформить заказ шаров оперативно и без лишней суеты.</p>
            </div>
            break;
    }
</div>
<div class="row row-banner">
    <div class="col-md-12">
        Заявку по доставке шаров вы можете сделать по телефону <strong>+7(343) 3281-567</strong>. <br />
        И в любое время проконтролировать состояние доставки по телефону <strong>+7(922)11-22-866</strong>. <br />
        Также вы можете оставить свою заявку по электронной почте <a href="mailto:priemka@list.ru">priemka@list.ru</a> <br />
        <strong>Доставка шаров осуществляется круглосуточно.</strong>
    </div>
</div>
