@{
    Layout = null;
}
<div class="row row-banner">
    <div class="col-md-6">
        <img class="image-banner" height="300" src="~/Content/gifts/Сюрприз в автомобиле.jpg" />
    </div>
    <div class="col-md-6">
        <h2>Сюрприз в автомобиле</h2>
        <div>
            Сюрприз в машине! Наполним автомобиль воздушными шарами! Думаю, об эффекте удивления не нужно рассказывать. <br />
            Обязательным условием является - доступ в автомобиль!<br />
            В автомобиль укладываем от 50 и более шаров (в зависимости от размера машины).<br />
            Шар с гелием 25 рублей + доставка (в зависимости от района).
        </div>
        @Html.Partial("OrderButton", "Сюрприз в автомобиле")
    </div>
</div>


<div class="row row-banner">
    <div class="col-md-6">
        <img class="image-banner" height="300" src="~/Content/gifts/автобант.jpg" />
    </div>
    <div class="col-md-6">
        <h2>Автобант!</h2>
        <div>
            Сюрприз в автомобиле - "автобант"! <br />
            Или  красиво украсим бантом автомобиль! <br />
            Оформление безопасно для вашего автомобиля. <br />
            Стоимость оформления с выездом 3500 р.
        </div>
        @Html.Partial("OrderButton", "Сюрприз в автомобиле")
    </div>
</div>

<div class="row row-banner">
    <div class="col-md-6">
        <img class="image-banner" height="300" src="~/Content/gifts/Шар для воздухоплавания в миниатюре!.jpg" />
    </div>
    <div class="col-md-6">
        <h2>Шар для воздухоплавания в миниатюре!</h2>
        <div>
            Если вы провинились или просто не знаете какой подарок сделать то для вас готово довольно оригинальное решение! <br />
            Особенно для девушек. Шар для воздухоплавания в миниатюре! <br />
            А вместо человечков в корзине оставим цветы или принесенный вами подарок! <br />
            Размер подарка 1.5м в высоту и 1м в ширину. <br />
            Стоимость 2000 руб.<br />
            <br />
            В стоимость входит Шар с гелием 1 метр, корзинка 30х30 см, декор корзинки. <br />
            Дополнительные пожелания оплачиваются отдельно :) (шоколад, конфетки, цветочные композиции, открыточку) <br />
            Вот и неожиданный подарок! <br />
            Берем большую красивую коробку, кладем на дно ваш подарок, а остальное пространство коробки наполняем воздушными шарами. <br />
            Хозяин подарка будет прятно шокирован такой подачей долгожданного подарка! <br />
            Очень важно! Шары, помещаемые в коробку размером чуть меньше стандартных, поэтому время полета от 4х до 10 часов! <br />
        </div>
        @Html.Partial("OrderButton", "Шар для воздухоплавания в миниатюре!")
    </div>
</div>

<div class="row row-banner">
    <div class="col-md-6">
        <img class="image-banner" height="300" src="~/Content/gifts/Неожиданный подарок!.jpg" />
    </div>
    <div class="col-md-6">
        <h2>Неожиданный подарок!</h2>
        <div>
            Вот и неожиданный подарок! <br />
            Берем большую красивую коробку, кладем на дно ваш подарок, а остальное пространство коробки наполняем воздушными шарами. <br />
            Хозяин подарка будет прятно шокирован такой подачей долгожданного подарка! <br />
            Очень важно! Шары, помещаемые в коробку размером чуть меньше стандартных, поэтому время полета от 4х до 10 часов!
        </div>
        @Html.Partial("OrderButton", "Неожиданный подарок!")
    </div>
</div>

<div class="row row-banner">
    <div class="col-md-12">
        <div>
            А так же для вас доставка воздушных шаров, наполненных гелием и воздухом, фигур, букетов и композиций из воздушных шаров по Екатеринбургу и за его пределы от 300 рублей. <br />
            Заявку по доставке шаров вы можете сделать по телефону +7(343)3281-567 и в любое время проконтролировать состояние заказа. <br />
            Также вы можете оставить свою заявку по электронной почте <a href="mailto:priemka@list.ru">priemka@list.ru</a>
        </div>
        <h4>
            Доставка по телефону <strong>+7(922)11-22-866</strong><br />
        </h4>
    </div>
</div>
