@using System.Web.Mvc.Html
@using SharikiApp.Models
<div role="tabpanel">
    @Html.Partial("Navs/BalloonsNav", TypeBallons.Gifts)
    @Html.Partial("Gifts")
</div>
@Html.Partial("BalloonsInfo", BalloonTypeM.PodarkiSjurprizy)
