@using SharikiApp.Models
<div role="tabpanel">
    @Html.Partial("Navs/BalloonsNav", TypeBallons.Speceffects)
    @Html.Partial("Effects")
</div>
@Html.Partial("BalloonsInfo", BalloonTypeM.Speceffets)
