@using SharikiApp.Models
@model SharikiApp.Core.Models.Balloon[]
<div role="tabpanel">
    @Html.Partial("Navs/SvetNav", TypeSvet.NewYearDecor)
    @Html.Partial("_Goods")
    @Html.Partial("_Svet")
</div>