<div>
    <div class="row row-banner">
        <div class="col-md-12">
            <img class="image-banner" src="~/Content/decorate/для_яркого.jpg" />
        </div>
        <div class="col-md-12">
            <h1>Шарики на день рождения  — залог веселого праздника</h1>
            <p>Чтобы праздник действительно был особенным, нужно создать благоприятную атмосферу. Большое внимание следует уделить оформлению того помещения, где будет происходить данное торжество. Сегодня одной из самых креативных идей является оформление воздушными шарами, ведь именно шарики ассоциируются с весельем, радостью, а также праздничным настроением. Причем такое оформление подходит как для детских, так и для взрослых дней рождений.</p>
            <p>Наша мастерская приготовила множество креативных идей и готова к выполнению заказа любой сложности. В каталоге вы сможете найти разные варианты для оформления.</p>
            <p>Шарики на день рождения — залог веселого праздника. Мы организуем доставку воздушных шаров в Екатеринбурге на высшем уровне.</p>
            <br />
        </div>
    </div>
</div>