<div class="row row-banner">
    <div class="col-md-12">
        <h1>Оформление шарами свадеб любой сложности</h1>
        <p>Свадьба — это незабываемое событие в жизни каждого человека, поэтому очень хочется, чтобы именно в этот день все было продумано до мелочей. Особое внимание следует уделить украшению зала на свадьбу.</p>
        <p>Создать торжественную атмосферу, а также правильно и грамотно сочетать все элементы декора — это работа не из легких, поэтому наша мастерская в Екатеринбурге предлагает свои услуги.</p>
        <p>Оформление шарами свадеб всегда выглядит креативно, придает празднику особого статуса, а также позволяет наполнить помещение самыми нежными чувствами.</p>
        <p>Свадебное оформление полностью зависит от ваших пожеланий и предпочтений. Это может быть как импровизированная арка или небольшой букет из шаров, так и целый свадебный комплект, который тщательно разработан нашими специалистами для полноценного оформления зала.</p>
        <p>Мы работаем с заказами разной сложности и готовы воплотить любую задумку клиента.</p>
    </div>
    <div class="col-md-12 text-center">
        <img class="image-banner" src="~/Content/decorate/svadba/котики.png" />
        <h4>Представляем вам некоторые наборы оформления:</h4>
    </div>
</div>