@{
    Layout = null;
}
<h5>Наши контакты:</h5>
<h5>Фактический адрес местонахождения мастерской:</h5>
<p>г. Екатеринбург, ул. Долорес Ибарурри 2, 1 эт, оф 119.</p>
<h5>Почтовый адрес для отправки корреспонденции:</h5>
<p>620028 г. Екатеринбург, ул. Виз Бульвар, 25, а/я 6.</p>
<h5>Контактные телефоны:</h5>
<div>
    тел. +7(343)328-15-67 <br />
    сот. +7(922)11-22-866
</div>
<h5>
    Адрес электронной почты:
</h5>
<a href="mailto:priemka@list.ru">priemka@list.ru</a>
<h5>Заявки принимаются:</h5>
<div>
    - По телефону +7(343)328-15-67  с 10-00 до 20-00 Пн. - Вс. <br />
    - Через сайт sharikekb.ru круглосуточно. <br />
    - По почте priemka@list.ru <br />
    - На сайте Вконтакте- <a href="https://vk.com/id199960502">vk.com/id199960502</a> <br /><br />
    Заказы, оставленные после 20-00 обрабатываются на следующее утро. <br />
    Выполнение заказов осуществляется круглосуточно Пн. - Вс. <br />
</div>
