<div class="row row-banner">
    <div class="col-md-12">
        <h1>Новогоднее оформление — мы создаем сказку!</h1>
        <p>Подготовка к новогодним торжествам — это невероятно увлекательное и долгожданное мероприятие. Правильное новогоднее оформление способно создать неповторимую атмосферу ожидания чуда.</p>
        <p>Соответствующее украшение офисных зданий очень важно, поскольку выступает, кроме всего прочего, в качестве рекламы компании, позволяя своим сотрудникам и клиентам запомниться надолго.</p>
        <p>Новогоднее оформление холла в офисе напомнит вашим сотрудникам о скором наступлении праздника, создаст соответствующее настроение и подарит массу приятных воспоминаний. Основательная подготовка к торжеству всегда оправдывает затраченные усилия.</p>
        <p>Проведение подобного мероприятия наиболее целесообразно доверять настоящим профессионалам, которые в совершенстве разбираются во всех тонкостях создания праздничного декора. Мы оформим помещение в соответствии с вашими представлениями о том, как должен выглядеть офис в праздники, при необходимости установим большую елку, украшенную нарядными гирляндами и огнями. Разнообразие всевозможных вариаций позволит вам выбрать уникальный новогодний декор.</p>
        <p>Вытакже можете заказать и уличное оформление, которое поможет вам выделиться из общей массы подобных заведений.</p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h3>
            Новогоднее оформление загородного дома, коттеджа
        </h3>
        <img src="@Url.Content("~/Content/decorate/newyear/IMG_8622_-_kopia.jpg")" alt="" class="pull-right" style="padding: 2px 15px;" />
        <p>
            Новогоднее украшение фасадов зданий стало не только доброй традицией, но и правилом хорошего тона. Нарядные новогодние елки, гирлянды, световые композиции создают праздничное настроение у сотрудников, привлекают клиентов, улучшают имидж организации.
            Доверив праздничный облик Вашего здания специалистам компании, Вы получите гарантированно высокий результат - грамотный дизайн, соответствие фирменному стилю, архитектурное единство. Мы используем только высококачественные световые и светодинамические элементы, долговечные, яркие, отвечающие строгим стандартам безопасности. Вся продукция сертифицирована.
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4>Новогоднее оформление офисов</h4>
        <p>
            Празднично оформленный офис компании создает предновогоднюю атмосферу для Ваших клиентов, партнеров и коллег.  Вместе с  тем, декор для офисов должен носить сдержанный и лаконичный характер, строго соответствовать стилю компании, подчеркивать ее статус.
            Мы воплотим в жизнь проект праздничного оформления офиса. К Вашим услугам пушистые новогодние ели, новогоднее освещение и композиции, уникальные праздничные украшения и красочные гирлянды. Специалисты нашей компании произведут монтаж и демонтаж всего оборудования, а использование декора разных ценовых категорий позволит уложиться в запланированный Вами бюджет.
        </p>
        <div class="clearfix"></div>
    </div>
</div>