@*<div class="yashare-auto-init"
     data-yasharel10n="ru"
     data-yasharequickservices="vkontakte,facebook,twitter"
     data-yasharetheme="counter"
     data-yasharetitle="@Model.Title"
     data-yasharedescription="@Model.Description"
     data-yashareimage="@Model.ImageUrl"
     data-yasharelink="@Model.ShareUrl">    
</div>*@

<div class="yashare-auto-init" style="display: inline-block;"
     data-yasharel10n="ru"
     data-yasharetype="small"
     data-yasharequickservices="vkontakte,facebook,twitter,odnoklassniki,gplus"
     data-yasharetheme="counter">
</div>