<div class="row row-banner">
    <div class="col-md-6">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
            VK.Widgets.Group("vk_groups", { mode: 0, width: "220", height: "256", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6' }, 43087047);
        </script>
    </div>
    <div class="col-md-6">
        <a class="flamp-widget"
           href="http://ekaterinburg.flamp.ru/firm/dyadya_zhenya_tvorcheskaya_masterskaya-1267165676488160"
           data-flamp-widget-type="big"
           data-flamp-widget-count="1"
           data-flamp-widget-orientation="landscape"
           data-flamp-widget-id="1267165676488160"
           data-flamp-widget-width="100%">Отзывы о нас на Флампе</a>
        <script>
            !function (d, s) {
                var js, fjs = d.getElementsByTagName(s)[0];
                js = d.createElement(s);
                js.async = 1;
                js.src = "http://widget.flamp.ru/loader.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script");
        </script>
    </div>
</div>