

<div class="jumbotron jumbo-main">
    <h1>Воздушные шары в Екатеринбурге</h1>
    <p class="lead">
        Для вас! Праздничное оформление шарами, шары с доставкой, эксклюзивная печать на шарах, выгодное производство рекламного продукта!
    </p>
    <div>
        <a href="@Url.Action("Balloons", "Home")" class="btn btn-success btn-lg">Перейти к выбору шариков &raquo;</a>
    </div>
</div>





